# OpenAPI-to-GraphQL specific
packages/openapi-to-graphql/APIs

# Visual Code settings
.vscode

# Dependency directories
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# temp files:
tmp

# OS configuration
*.DS_Store

# Compiled JS files
dist
.bob
