# OpenAPI-to-GraphQL specific
packages/openapi-to-graphql/APIs

# Visual Code settings
.vscode

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# temp files:
tmp

# OS configuration
*.DS_Store

# Compiled JS files
dist
.bob
